:root {
    --yellow: #ffc600;
    --orange: #FF9D00;
    --mint: #2AFFDF;
    --blue: #193549;
    --off_blue: #0D3A58;
    --dust_blue: #35434d;
    --dark_blue: #15232D;
    --pink: #FB94FF;
    --light_blue: #9EFFFF;
}